.swiperTab{display:flex;width:100%;flex-direction:row;justify-content:center;align-items:center}
.swiperTab li{color:#fff;display:flex;height:48px;border-left:1px solid #7f8288;background-color:#7f8288;cursor:pointer;flex:1;flex-direction:row;justify-content:center;align-items:center}
.swiperTab li:first-child{border-left:1px solid transparent}
.swiperTab li.active{background-color:#57cd76;}

.tip{
    color: #7f8288;
    font-size: .8rem;
}

.buttom li{
    width: 25vw;
    text-align: center;
}

.apartList li{
    padding: 2vh;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.apartList li img{
    width: 40%;
    height: 40%;
    margin-right: 1rem;
}

.apartList .dateils{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: .8rem;
    color: #7f8288;
    width: 60%;
}

.apartList .dateils p:first-child{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.apartList .dateils p:last-child{
    text-align: right;
}

.apartList .dateils p:last-child span{
    color: #C78F09;
    font-size: 1rem;
}

.apaimgs{
    height: 30vh;
    width: 100%;
    background: #57FA76;
    overflow: hidden;
    position: relative;
}

.apaimgs .back{
    height: 3rem;
    width: 3rem;
    position: absolute;
    background: white;
    opacity: .5;
    border-radius: 3rem;
    top: 1rem;
    left: 1rem;
    text-align: center;
    transform:rotate(90deg);
}

.apaimgs .back i{
    line-height: 3rem;
    font-size: 2rem;
    color: #7f8288;
}

.apatitle{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}


.apatitle p{
    color: #7f8288;
    line-height: 1.2rem;
}

.apatitle p:first-child{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.apatags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 0 .5rem 0;
}

.apatags li{
    font-size: .8rem;
    padding: .3rem .3rem;
    background: #f4f3df;
    border-radius: .3rem;
    color: #C78F09;
    margin: .3rem .3rem 0 0;
}

.dateil .text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.comfirm{
    text-align: center;
    font-size: .8rem;
}

.comfirm .call{
    width: 20vw;
}

.comfirm .price{
    width: 50vw;
    background: #57cd76;
    line-height: 7.8vh;
}

.comfirm .price span{
    font-size: 1.2rem;
}

.comfirm .now{
    width: 30vw;
    background: #ff5b53;
    line-height: 8vh;
}

.comfirm .call a{
    color: black;
}

.comfirm a{
    color: white;
}

.day{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    line-height: 2rem;
}

.day button,.day input{
    width: 2rem;
    height: 2rem;
    background: none;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: .3rem;
}

.time{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px #bbb solid;
}

.time li{
    width: 5rem;
    text-align: center;
    height: 3rem;
    border: 1px solid #ddd;
    line-height: 3rem;
    border-radius: .5rem;
}

.selects li{
    border-bottom: 1px solid #ddd;
    padding: .5rem 0;
    display: flex;
}

.selects li i{
    color: #57cd76;
    line-height: 22px;
    margin-right: 8px;
}

.selects li:first-child{
    padding-top: 0;
}

.selects li:last-child{
    border: none;
    padding-bottom: 0;
}

 

.orderconfirm{
    text-align: center;
    font-size: .8rem;
}

.orderconfirm .price{
    width: 60vw;
    line-height: 7.8vh;
    color: #57cd76;
}

.orderconfirm .price span{
    font-size: 1.2rem;
}

.orderconfirm .now{
    width: 40vw;
    background: #ff5b53;
    line-height: 8vh;
}

.orderconfirm a{
    color: white;
}





.ios-checkbox{
    float: right;
    width: 2rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-flex-wrap:nowrap;
        -ms-flex-wrap:nowrap;
            flex-wrap:nowrap;
    -webkit-justify-content:space-around;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}

.emulate-ios-button {
    display: block;
    width: 2rem;
    height: 1rem;
    background: #ccc;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


.emulate-ios-button:after {
    content: '';
    display: block;
    width: .9rem;
    height: .9rem;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    left: .05rem;
    top: .05rem;
    -webkit-transform:translateZ(0);    
    transform:translateZ(0);
    -webkit-transition: all .3s ease;  
    transition: all .3s ease;
}

.emulate-ios-button:active:after {
    width: 1.1rem;
}

.raw-checkbox{
    height:2rem;
    width:2rem;
    display: none;
}

.raw-checkbox:checked+label {
    background: #34bf49;
}

/* 这里是伪元素偏移,初始是0.9+0.05 ,所以这里1.05rem */
.raw-checkbox:checked+label:after {
    left: 1.05rem;
}

.raw-checkbox:checked+label:active:after {
    left: .5rem;
}


.raw-checkbox:disabled+label {
    background: #d5d5d5;
    pointer-events: none;
}

.raw-checkbox:disabled+label:after {
    background: #bcbdbc;
}