.buttom li{
    width: 25vw;
    text-align: center;
}

.myavatar{
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

.myavatar .my1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myavatar .my2{
    margin: 1rem;
    text-align: center;
}

.myavatar .my3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.myavatar .my2 span{
    font-size: 1.8rem;
    color:#c78f09;
    line-height: 2.5rem;
}

.myavatar .my3 span{
    color:#c78f09;
    font-size: 1.2rem;
    line-height: 2rem;
}

.myavatar .my3::after{
    content: '';
    height: 3rem;
    width: 1px;
    background: black;
    position: absolute;
}

.avatar {
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    border-radius: 2rem;
    float: left;
    margin-right: 1rem;
}

.avatar img{
    height: 4rem;
}

.myavatar .name{
    height: 3rem;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .5rem;
}

.myavatar i{
    font-size: 2.5rem;
}

.cashout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.dateil input[type='button']{
    border: none;
    padding: .7rem 2rem;
    border-radius: .3rem;
    background: linear-gradient(to right, #feb96c, #fe997f);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .2rem;
}

.orderdateil{
    padding: 0;
}

.myorder {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    background: url('../img/cardbg.jpg') no-repeat;
    background-size: 10rem;
}

.myorder .order-title .left{
    font-weight: bolder;
}

.myorder .order-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #c78f09;    
    margin: 1rem 0;
}

.myorder .order-card img{
    width: 40%;
    height: 40%;
}

.myorder .order-detail{
    font-size: .8rem;
    text-align: center;
}

.myorder .order-detail span{
    color: #c78f09;
}

.myorder input[type='button']{
    width: 100%;
    margin-top: 1rem;
}

/* .orderdateil{
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
}

.orderdateil img{
    width: 28vw;
}

.orderdateil li{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 24vw;
}

.orderdateil li:first-child{
    width: 28vw;
}

.orderdateil i{
    font-size: 2rem;
}

.orderdateil span,.myprice span{
    color: #c78f09;
}

.myprice{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.myprice p{
    line-height: 1.5rem;
}

.myprice .left{
    width: 50%;
} 

.increase ul{
    display: flex;
    justify-content: space-around;
}

.increase ul li{
    text-align: center;
    font-size: .8rem;
}

.increase ul li span{
    font-size: 1.5rem;
}

.increase .block{
    height: .5rem;
    width: 2rem;
    background: #c78f09;
    margin: 0 auto;
}*/

.setting li{
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    color: #57cc75;
}

.setting li i{
    width: 1.8rem;
    display: inline-block;
    text-align: center;
    line-height: 1rem;
}

.setting li a{
    color: #57cc75;
}

.setting li span{
    float: right;
    font-size: 1rem;
    color: #aaa;;
}

.setting .icon-arrow{
    transform: rotate(-90deg)
}

.setting input,.setting select{
    border: none;
}

.mybutton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    width: 80vw;
    height: 2.5rem;
    border: none;
    background: #57cc75;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
}

.mytitle{
    text-align: center;
    line-height: 3rem;
    margin-top: 1rem;
}

.mytitle h1{
    font-size: 2rem;
    font-weight: bold;
}