.main{
    min-height: 100vh;
    max-width: 750px;
    padding-bottom: 8vh;
    position: relative;
    margin: 0 auto;
    background: #f6f9f3;
}

.buttom{
    height: 8vh;
    width: 100%;
    background: #f0f0f0;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    z-index: 999;
    font-size: .8rem;
}

.buttom i{
    font-size: 1.2rem;
    line-height: 1.5rem;
}


.dateil{
    margin-top: .8rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    background: white;
}

.dateil h4{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid #ccc
}

.dateil p{
    line-height: 1.4rem;
}

.color{
    color: #C78F09;
}

.dateil .more{
    color: #C78F09;
    margin-top: .5rem;
}

.box{
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    margin: 2vh;
    padding: 1rem;
    position: relative;
}