.main{
    min-height: 100vh;
    max-width: 750px;
    padding-bottom: 8vh;
    position: relative;
    margin: 0 auto;
    background: #f6f9f3;
}

.buttom{
    height: 8vh;
    width: 100%;
    background: #f0f0f0;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    z-index: 999;
}

.vipcard{
    background: url('../img/cardbg.jpg') no-repeat left top 100% !important;
}