body{
    background: url('../img/bg1.jpg') no-repeat;
    background-size: 100%;
}

.signtitle{
    text-align: center;
    margin: 10vh 0 5vh 0;
    color: white;
    font-weight: bold;
}

.setting{
    background: white;
    padding: 0 0 1rem 0;
}

.setting li{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid #ddd;
    color: #57cc75;
}

.setting li i{
    width: 1.8rem;
    display: inline-block;
    text-align: center;
    line-height: 1rem;
}

.setting li a{
    color: #57cc75;
}

.setting li span{
    float: right;
    font-size: 1rem;
    color: #aaa;;
}

.setting .icon-arrow{
    transform: rotate(-90deg)
}

.setting input,.setting select{
    border: none;
}

.loginbtn{
    margin: 1rem 0;
    position: relative;
}

.logbtn,.signbtn{
    width: 6rem;
    background: #57cc75;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: white;
}

.logbtn{
    float: left;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.signbtn{
    float: right;
    background: #aaa;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.protocol{
    font-size: .8rem;
    text-align: center;
    padding-bottom: 1rem;
}

.protocol a{
    color: #57cc75;
}

.forget{
    float: right;
    margin: 1rem;
}

.signbutton{
    width: 80%;
    height: 2.5rem;
    border: none;
    background: #57cc75;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}